label {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 2%;
}
.form-control {
    width: 80%;
    margin-left: 2%;
    background-color: rgb(211, 211, 211, 0.4);
}
.btn {
    margin-right: 2%;
    margin-bottom: 2%;
}
.h3 {
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    text: center;
    font-weight: bold;
}
